.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-container {
    border: 2px solid #2E294E;
}

.calendar {
    background-color: #FFE8D1;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header {
    color:  #2E294E;
    font-size: 16px
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 40px;
}

.week-day {
    font-size: 16px;
}

.day {
    font-size: 16px;
}

.day {
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.current-day {
    background-color: #7CA5B8;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: #FFE8D1;
}
.selected-day {
    background-color:#C1666B;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: #FFE8D1;
}

.month-popup {
    position: absolute;
    padding: 5px;
    background: #FFE8D1;
    border: 2px solid #2E294E;
}

.month-popup div {
    padding: 0.3em;
}

.nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.prev,
.next 
{font-size: 24px;
}


.editor-year {
    max-width: 48px;
}

.label-month,
.label-year {
    font-size: 24px;
}

.label-month {
    cursor: pointer;
}